.App p{
  font-size: 20px;
  color: gray;
}

.vision p{
  padding: 0 0px 20px;
  margin: 0px;
}

.image{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.vision .card{
  width: 25%;
  margin: 0 10px;
  padding-top: 20px;

}
.icon{
  color: red;
  align-self: center;
  margin-bottom: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.parent1,.parent2,.parent3{
  border: none;
  align-items: start;
}

.parent2{
  top: 60px; 
}

.child{
  padding: 70px 40px;
  margin-bottom: 45px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  border: none;
}

.icons{
  align-self: center;
  border-radius: 50%;
  background: turquoise;
  color: blue;
  margin-bottom: 15px;
  padding: 3px 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App p.small{
  font-size: 12px;
  color: grey;
}

.vision{
  padding: 75px 0;
  align-items: center;
  position: relative;
}

.track{
  padding: 75px 0;
  align-items: center;
  position: relative;
  background: antiquewhite;
}

.message{
  padding: 75px 0;
  align-items: center;
  position: relative;
}

.track .card{
  display: flex;
  justify-content: space-between;
  flex-direction: unset;
  padding: 15px 60px 15px 15px;
  width: 250px;
}

p{
  margin: 0px;
}

.vision h1{
  font-size: 4rem !important;
}
.track h2{
  font-size: 3.5rem !important;
}

.user{
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  top: 30px;
  right: 100px;
  background: white;
}

img{
  padding-top: 60px;
}

@media screen and (max-width: 425px){
  .container{
    padding: 0 20px;
  }
  .row{
    text-align: center;
  }
  .track h2{
    font-size: 2.5rem !important;
    padding-top: 20px;
  }
  .vision h1{
    font-size: 3rem !important;
    display: flex;
    padding: 20px;
    justify-content: center;
  }
  .vision .card{
    width: -webkit-fill-available;
    margin: 10px 25px;
    padding-top: 20px;
  
  }

  .track .card{
    width: -webkit-fill-available;
    margin: 20px;
    flex-direction: row-reverse;
    text-align: justify;
  }
}